<!DOCTYPE html >
<html>
<head>
    <title>.::Six Games::. Sua loja de jogos!</title>
    <link rel="stylesheet" type="text/css" href="static/css/six.css" />
    <script src="static/js/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="static/js/modernizr.js" type="text/javascript"></script>
    <script src="static/js/underscore-min.js" type="text/javascript"></script>
    <script src="static/js/six.js" type="text/javascript"></script>
</head>
<body>

<header id="six_header">
<div class="container">
    <div>
        <div class="user_line">
            <ul>
                <li><a href="#subscribe" id="subscribe_button" class="btn btn-success">Cadastre-se</a></li>
                <li class="last">
                    <a href="#login" id="login_button" class="btn btn-success">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="page-header">
        <div>
            <a href="/" id="sixgames" title="Six Games"></a>
        </div>
        <div>
            <form id="six_header_search" action="" class="search">
                <input id="six_header_search_bar" type="text" placeholder="Digite o nome do jogo" name="q" autocomplete="off" />
                <button class="btn btn-danger">BUSCAR</button>
            </form>
        </div>
    </div>
</div>

<nav id="menu"></nav>
<script type="text/template" id="template">
    <ul class="meio">
    <% _.each(listas, function(lista) { %>

        <li><a href="#" title="<%= lista.nome %>"><%= lista.nome %></a>
            <ul>
            <% _.each(lista.items, function(item, index, list) { %>
                <li <% if(index == list.length-1) { print ("class='last'"); } %> ><a href="<%= item.link %>" class="ieie" title="<%= item.nome %>"><%= item.nome %></a></li>
            <% }); %>
            </ul>
        </li>
    <% }); %>
    </ul>
</script>

</header>
<div id="content">



</div>


<footer>
    Contato
</footer>
</body>
</html>